{% load l10n %}

<div class="modal-content">
  <div class="modal-header">
    <div class="row">
      <div class="col-xs-10">
        <h4 class="modal-title">Submit your Spare Stub</42>
      </div>
      <div class="col-xs-2">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      </div>
    </div>
    <div id="submit-ticket-notification-root">
      <div class="notification-style" style="display: None">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong class="notification-header"></strong>
        <span class="notification-content"></span>
      </div>
    </div>
  </div>

  <form id="submit-ticket-form" class="form-horizontal" action="{% url "valid_ticket" %}"> {% csrf_token %}
    <input id="token" name="token" type="hidden">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="input-group">
              <label for="submit-ticket-title" class="control-label input-group-addon">Post Title</label>
              <input id="submit-ticket-title" class="form-control" type="text" name="title"
                     placeholder="Example: Dallas Cowboys at NY Giants. Rival fans welcome!" required

                     data-bv-notempty-message="{{ form_settings.TITLE_NOTEMPTY_MESSAGE }}"

                     data-bv-stringlength="true"
                     data-bv-stringlength-max="{{ form_settings.TITLE_MAX_LENGTH }}"
                     data-bv-stringlength-message="{{ form_settings.TITLE_LENGTH_MESSAGE }}">
            </div>
          </div>
        </div>  <!-- form-group -->
      </div> <!-- row -->

      <div class="row">
        <div class="col-md-4 col-xs-12">
          <!-- TODO do not allow numbers with values in the .001 range. consider using step attribute -->
          <div class="form-group">
            <div class="input-group">
              <label for="submit-ticket-price" class="control-label input-group-addon auto">Price</label>
                  <input id="submit-ticket-price" type="text" class="form-control currency-field"
                         name="price" placeholder="$0.00" required
                         data-a-sign="$ "
                         data-a-dec="."
                         data-a-sep=","
                         data-v-min="{{ form_settings.PRICE_MIN_VALUE }}"
                         data-v-max="{{ form_settings.PRICE_MAX_VALUE }}"

                         data-bv-notempty-message="{{ form_settings.PRICE_NOTEMPTY_MESSAGE }}">
            </div> <!-- input-group-->
          </div>  <!-- form-group -->
        </div> <!-- column -->

        <div class="col-md-4 col-xs-12">
          <div id="submit-ticket-date-picker" class="form-group large-feedback-icon-shift date-picker">
            <div class='input-group date'>
              <label for="submit-ticket-start-date" class="control-label sr-only"></label>
              <input id="submit-ticket-start-date" type="text" class="form-control" name="start_date" autocomplete="off"
                     placeholder="Event date" required

                     data-bv-notempty-message="{{ form_settings.START_DATE_NOTEMPTY_MESSAGE }}"

                     data-bv-date="true"
                     data-bv-date-format="{{ form_settings.START_DATE_DATE_FORMAT }}"
                     data-bv-date-message="{{ form_settings.START_DATE_DATE_MESSAGE }}"
                     data-bv-date-separator="{{ form_settings.START_DATE_DATE_SEPARATOR }}"

                     data-bv-callback="true"
                     data-bv-callback-callback="validate_date_not_before_today"
                     data-bv-callback-message="Please pick today or a future date">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div> <!-- form group -->
        </div> <!-- column -->

        <div class="col-md-4 col-xs-12">
          <div id="submit-ticket-time-picker" class="form-group large-feedback-icon-shift time-picker">
            <div class="input-group date">
              <label for="submit-ticket-start-time" class="control-label sr-only"></label>
              <input id="submit-ticket-start-time" type="text" class="form-control" name="start_time" autocomplete="off"
                     placeholder="Event time" required

                     data-bv-notempty-message="{{ form_settings.START_TIME_NOTEMPTY_MESSAGE }}"

                     pattern="{{ form_settings.START_TIME_REGEXP }}"
                     data-bv-regexp-message="{{ form_settings.START_TIME_REGEXP_MESSAGE }}">
              <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
          </div>
        </div> <!-- column -->
      </div> <!-- row -->

      <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="form-group">
            <label for="submit-ticket-location" class="control-label sr-only"></label>
            <input id="submit-ticket-location" class="form-control location-autocomplete" type="text" autocomplete="off"
                   name="location_raw" placeholder="Location (city, state)" required
                   data-bv-notempty-message="{{ form_settings.LOCATION_NOTEMPTY_MESSAGE }}">
            </input>
          </div>  <!-- form group -->
        </div> <!-- column -->
        <div class="col-md-4 col-xs-12">
          <div class="form-group">
            <label for="submit-ticket-venue" class="control-label sr-only"></label>
            <input id="submit-ticket-venue" class="form-control" type="text"
                   name="venue" placeholder="Venue" required
                   data-bv-notempty-message="{{ form_settings.VENUE_NOTEMPTY_MESSAGE }}"

                   data-bv-stringlength="true"
                   data-bv-stringlength-max="{{ form_settings.VENUE_MAX_LENGTH }}"
                   data-bv-stringlength-message="{{ form_settings.VENUE_LENGTH_MESSAGE }}">
            </input>
          </div>  <!-- form group -->
        </div> <!-- column -->

        <div class="col-md-4 col-xs-12">
          <div class="form-group small-feedback-icon-shift">
            <label for="submit-ticket-type" class="control-label sr-only"></label>
            <select id="submit-ticket-type" type="text" class="form-control" name="ticket_type" required
                    data-bv-notempty-message="{{ form_settings.TICKET_TYPE_NOTEMPTY_MESSAGE }}">
              <option value="" disabled selected>Select the type of event</option>
              {% for option in form_settings.TICKET_TYPES %}
                <option value="{{ option.0 }}">{{ option.1 }}</option>
              {% endfor %}
            </select>
          </div>  <!-- form group -->
        </div> <!-- column -->
      </div> <!-- row -->

      <div class="row">
        <div class="col-md-12">
          <div class="form-group last-form-group">
            <label for="submit-ticket-about" class="control-label sr-only"></label>
            <textarea id="submit-ticket-about" class="form-control" name="about"
                      placeholder="Anything else you'd like to say?"

                      data-bv-stringlength="true"
                      data-bv-stringlength-max="{% localize off %}{{ form_settings.ABOUT_MAX_LENGTH }}{% endlocalize %}"
                      data-bv-stringlength-message="{{ form_settings.ABOUT_LENGTH_MESSAGE }}"></textarea>
          </div>  <!-- form group -->
        </div> <!-- column -->
      </div> <!-- row -->

    </div> <!-- modal body -->

    <div class="modal-footer">
        <!-- Notice that the button type is submit. This is required by bootstrap validator. -->
        <button id="submit-ticket-form-submit-button" class='btn btn-primary form-submit-button' type="submit">Continue</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </form>  <!-- signup form -->
</div>