<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Submit a Ticket!</h4>
    <div id="submit-ticket-notification-root">
      <div class="notification-style" style="display: None">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong class="notification-header"></strong>
        <span class="notification-content"></span>
      </div>
    </div>
  </div>

  <form id="submit-ticket-form" class="form-horizontal" action="{% url "tickets.views.submit_ticket" %}"> {% csrf_token %}
    <div class="modal-body">
      <div class="form-group">
        <label for="submit-ticket-title" class="control-label sr-only"></label>
        <input id="submit-ticket-title" class="form-control" type="text" name="title" placeholder="Title" required

               data-bv-notempty-message="{{ form_settings.TITLE_NOTEMPTY_MESSAGE }}"

               data-bv-stringlength="true"
               data-bv-stringlength-max="{{ form_settings.TITLE_MAX_LENGTH }}"
               data-bv-stringlength-message="{{ form_settings.TITLE_LENGTH_MESSAGE }}">
      </div>

      <!-- TODO do not allow numbers with values in the .001 range. consider using step attribute -->
      <div class="form-group">
        <label for="submit-ticket-price"  class="control-label sr-only"></label>
        <input id="submit-ticket-price" type="number" min="0" class="form-control"  name="price"
               placeholder="Price" required

               data-bv-notempty-message="{{ form_settings.PRICE_NOTEMPTY_MESSAGE }}"

               data-bv-numeric="true"
               data-bv-numeric-separator="{{ form_settings.PRICE_NUMERIC_SEPARATOR}}"
               data-bv-numeric-message="{{ form_settings.PRICE_NUMERIC_MESSAGE }}">
      </div>  <!-- form group -->

      <div class="form-group shifted-feedback-icon">
        <div class='input-group date' id='ticket-submit-datetime-picker'>
          <label for="submit-ticket-start" class="control-label sr-only"></label>
          <input id="submit-ticket-start" type="text" class="form-control" name="start_datetime"
                 placeholder="Start date and time" required

                 data-bv-notempty-message="{{ form_settings.START_DATETIME_NOTEMPTY_MESSAGE }}"

                 data-bv-date="true"
                 data-bv-date-format="{{ form_settings.START_DATETIME_DATE_FORMAT }}"
                 data-bv-date-message="{{ form_settings.START_DATETIME_DATE_MESSAGE }}"
                 data-bv-date-separator="{{ form_settings.START_DATETIME_DATE_SEPARATOR }}">
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>

      <div class="form-group">
        <label for="submit-ticket-location" class="control-label sr-only"></label>
        <input id="submit-ticket-location" type="text" class="form-control" name="location"
               placeholder="Location" required

               data-bv-notempty-message="{{ form_settings.LOCATION_NOTEMPTY_MESSAGE }}">
      </div>  <!-- form group -->

      <div class="form-group">
        <label for="submit-ticket-type" class="control-label sr-only"></label>
        <select id="submit-ticket-type" type="text" class="form-control" name="type" required
                data-bv-notempty-message="{{ form_settings.TICKET_TYPE_NOTEMPTY_MESSAGE }}">
          <option value="" disabled selected>Select the type of event</option>
          {% for option in form_settings.TICKET_TYPES %}
            <option value="{{ option.0 }}"> {{ option.1 }} </option>
          {% endfor %}
        </select>

      </div>  <!-- form group -->
    </div>  <!-- modal body -->

    <div class="modal-footer">
        <!-- Notice that the button type is submit. This is required by bootstrap validator. -->
        <button id="submit-ticket-form-submit-button" class='btn btn-primary form-submit-button' type="submit">Sign up</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </form>  <!-- signup form -->
</div>