Django==1.7
dj-database-url==0.3.0
gunicorn==19.1.1
psycopg2==2.5.4
requests==2.4.1
sendgrid==1.1.1
smtpapi==0.1.2
static3==0.5.1


# To get around OSX compile errors when installing psycopg2, run this first.
#export ARCHFLAGS="-Wno-error=unused-command-line-argument-hard-error-in-future"
