<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Edit Profile</h4>
    <div id="edit-profile-notification-root">
      <div class="notification-style" style="display: None">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong class="notification-header"></strong>
        <span class="notification-content"></span>
      </div>
    </div>
  </div>

  <form id="edit-profile-form" class="form-horizontal" method="post"
        action="{% url "edit_profile" username=user.user_profile.username %}"
        enctype="multipart/form-data"> {% csrf_token %}
    {% comment %}Validity of a photo is determined entirely by whether it has been cropped yet or not.
                 Nevertheless, when the edit profile activity is opened, the current photo, whether it be an old one or
                 simply a non-existent one, will always be valid.{% endcomment %}
    <input id="is_valid-photo" type="hidden" name="is_valid_photo" value=true>
    {% comment %}Regardless of the validity of the input, we aren't going to actually send the existing profile picture
                 to the server a second time. It's already stored in the DB.If the user has a photo and makes no changes
                  to their photo, indicate this server side and make no changes. {% endcomment %}
    <input id="use-old-photo" type="hidden" name="use_old_photo" value={% if user_info.profile_pictures %}true{% else %}false{% endif %}>
    <input id="x" type="hidden" name="x" value="">
    <input id="y" type="hidden" name="y" value="">
    <input id="w" type="hidden" name="w" value="">
    <input id="h" type="hidden" name="h" value="">
    <input id="rotate-degrees" type="hidden" name="rotate_degrees" value="">
    <div class="modal-body">
      <div class="form-group feedback-icon-shift">
        <label for="edit-profile-picture" class="col-xs-12 col-sm-3 control-label">Profile Picture:<br><span style="font-size: 10pt;font-weight: normal;text-align: left;">Select photo, Crop it, Click Save Profile</span></label>
        <div class="fileinput fileinput-new col-xs-12 col-sm-9" data-provides="fileinput">
          <div class="fileinput-preview thumbnail">
            <img src="{{ user_info.profile_picture.profile_thumbnail.url }}">
          </div>
          <div id="fileinput-preview-button-holder">
            <span id="select-photo" class="btn btn-default btn-file"><span class="fileinput-new">Select Picture</span><span class="fileinput-exists">New Photo</span><input id="edit-profile-picture" class="form-control" name="profile_picture" type="file"
                                                                                                                                                                            data-bv-callback="true"
                                                                                                                                                                            data-bv-callback-callback="valid_photo"
                                                                                                                                                                            data-bv-callback-message="Don't forget to crop your photo!"></span>
            <button id="remove-photo" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</button>
            <button id="crop" type="button" class="btn btn-default fileinput-exists">Crop</button>
            <button id="rotate-left" type="button" class="btn btn-default fileinput-exists">Rotate Left</button>
            <button id="rotate-right" type="button" class="btn btn-default fileinput-exists">Rotate Right</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="edit-profile-first-name" class="col-xs-12 col-sm-3 control-label">First Name: </label>
        <div class="col-xs-12 col-sm-9">
          <input id="edit-profile-first-name" type="text" class="form-control" name="first_name" required
                 value="{{ user.first_name | title }}"

                 data-bv-notempty-message="{{ form_settings.FIRST_NAME_NOTEMPTY_MESSAGE }}"

                 pattern="{{ form_settings.FIRST_NAME_REGEXP }}"
                 data-bv-regexp-message="{{ form_settings.FIRST_NAME_REGEXP_MESSAGE }}"

                 data-bv-stringlength=true
                 data-bv-stringlength-max="{{ form_settings.FIRST_NAME_MAX_LENGTH }}"
                 data-bv-stringlength-message="{{ form_settings.FIRST_NAME_LENGTH_MESSAGE }}">
        </div>
      </div>

      <div class="row form-group">
        <label for="edit-profile-last-name"  class="col-xs-12 col-sm-3 control-label">Last Name: </label>
        <div class="col-xs-12 col-sm-9">
          <input id="edit-profile-last-name" type="text" class="form-control"  name="last_name" required
                 value="{{ user.last_name | title}}"

                 data-bv-notempty-message="{{ form_settings.LAST_NAME_NOTEMPTY_MESSAGE }}"

                 pattern="{{ form_settings.LAST_NAME_REGEXP }}"
                 data-bv-regexp-message="{{ form_settings.LAST_NAME_REGEXP_MESSAGE }}"

                 data-bv-stringlength=true
                 data-bv-stringlength-max="{{ form_settings.LAST_NAME_MAX_LENGTH }}"
                 data-bv-stringlength-message="{{ form_settings.LAST_NAME_LENGTH_MESSAGE }}">
        </div>
      </div>  <!-- form group -->

      <div class="row form-group">
        <label for="edit-profile-email" class="col-xs-12 col-sm-3 control-label">Email: </label>
        <div class="col-xs-12 col-sm-9">
          <input type="email" class="form-control" id="edit-profile-email" name="email"
                 required value="{{ user.email }}"

                 data-bv-notempty-message="{{ form_settings.EMAIL_NOTEMPTY_MESSAGE }}"
                 data-bv-emailaddress-message="{{ form_settings.EMAIL_EMAILADDRESS_MESSAGE }}"

                 data-bv-stringlength=true
                 data-bv-stringlength-max="{{ form_settings.EMAIL_MAXLENGTH }}"
                 data-bv-stringlength-message="{{ form_settings.EMAIL_LENGTH_MESSAGE }}"

                 data-bv-remote=true
                 data-bv-remote-url="{{ form_settings.EMAIL_REMOTE_URL }}"
                 data-bv-remote-message="{{ form_settings.EMAIL_REMOTE_MESSAGE }}">
        </div>
      </div>  <!-- form group -->

      <div class="row form-group">
        <label for="edit-profile-zip-code" class="col-xs-12 col-sm-3 control-label">Zip Code: </label>
        <div class="col-xs-12 col-sm-9">
          <input type="text" class="form-control" id="edit-profile-zip-code" name="zip_code"
                 required value="{{ user.location.zip_code }}"

                 data-bv-notempty-message="{{ form_settings.ZIP_CODE_NOTEMPTY_MESSAGE }}"

                 data-bv-stringlength=true
                 data-bv-stringlength-min="{{ form_settings.ZIP_CODE_MIN_LENGTH }}"
                 data-bv-stringlength-max="{{ form_settings.ZIP_CODE_MAX_LENGTH }}"
                 data-bv-stringlength-message="{{ form_settings.ZIP_CODE_LENGTH_MESSAGE }}"

                 pattern="{{ form_settings.ZIP_CODE_REGEXP }}"
                 data-bv-regexp-message="{{ form_settings.ZIP_CODE_REGEXP_MESSAGE}}"

                 data-bv-remote=true
                 data-bv-remote-url="{{ form_settings.ZIP_CODE_REMOTE_URL }}"
                 data-bv-remote-message="{{ form_settings.ZIP_CODE_REMOTE_MESSAGE }}"

                 {% comment %} No reason to hit the server if the not remote validators fail {% endcomment %}
                 data-bv-verbose=false>
        </div>
      </div>  <!-- form group -->

      <div class="row form-group last-form-group">
        <label for="edit-profile-username" class="col-xs-12 col-sm-3 control-label">Username: </label>
        <div class="col-xs-12 col-sm-9">
          <input type="text" class="form-control" id="edit-profile-username" name="username"
                 required value="{{ user.user_profile.username }}"

                 data-bv-notempty-message="{{ form_settings.USERNAME_NOTEMPTY_MESSAGE }}"

                 pattern="{{ form_settings.USERNAME_REGEXP }}"
                 data-bv-regexp-message="{{ form_settings.USERNAME_REGEXP_MESSAGE }}"

                 data-bv-stringlength=true
                 data-bv-stringlength-max="{{ form_settings.USERNAME_MAX_LENGTH }}"
                 data-bv-stringlength-message="{{ form_settings.USERNAME_LENGTH_MESSAGE }}"

                 data-bv-remote=true
                 data-bv-remote-url="{{ form_settings.USERNAME_REMOTE_URL }}"
                 data-bv-remote-message="{{ form_settings.USERNAME_REMOTE_MESSAGE }}"

                 {% comment %} No reason to hit the server if the not remote validators fail {% endcomment %}
                 data-bv-verbose=false>
        </div>
      </div>  <!-- form-group -->
    </div>  <!-- modal-body -->
    <div id="edit-profile-footer" class="modal-footer">
        <!-- Notice that the button type is submit. This is required by bootstrap validator. -->
        <button id="edit-profile-form-submit-button" class='btn btn-primary form-submit-button' type="submit">Save Profile</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </form>  <!-- .edit-profile-form -->
  <div id="change-password-header" class="modal-header">
    <h4>Reset your password</h4>
  </div>
  <form id="change-password-form" class="form-horizontal" method="post"
        action="{% url "change_password" username=user.user_profile.username %}">
    {% csrf_token %}
    <div class="modal-body">
      <div class="row form-group">
        <label for="change-password-current" class="col-xs-12 col-sm-3 control-label">Current Password: </label>
        <div class="col-xs-12 col-sm-9 ">
          <input type="password" class="form-control" id="change-password-current" name="current_password"
                 placeholder="Current Password" required

                 data-bv-notempty-message="{{ form_settings.PASSWORD_NOTEMPTY_MESSAGE }}"

                 data-bv-stringlength=true
                 data-bv-stringlength-min="{{ form_settings.PASSWORD_MIN_LENGTH }}"
                 data-bv-stringlength-max="{{ form_settings.PASSWORD_MAX_LENGTH }}"
                 data-bv-stringlength-message="{{ form_settings.PASSWORD_LENGTH_MESSAGE }}"

                 data-bv-remote=true
                 data-bv-remote-url="{{ form_settings.PASSWORD_REMOTE_URL }}"
                 data-bv-remote-message="{{ form_settings.PASSWORD_REMOTE_MESSAGE }}"

                 {% comment %} No reason to hit the server if the not remote validators fail {% endcomment %}
                 data-bv-verbose=false>
        </div>
      </div> <!-- form-group -->
      <div class="row form-group">
        <label for="change-password-new" class="col-xs-12 col-sm-3 control-label">New Password: </label>
        <div class="col-xs-12 col-sm-9 ">

          <input type="password" class="form-control" id="change-password-new" name="new_password"
                 placeholder="New Password" required

                 data-bv-notempty-message="{{ form_settings.PASSWORD_NOTEMPTY_MESSAGE }}"

                 data-bv-stringlength=true
                 data-bv-stringlength-min="{{ form_settings.PASSWORD_MIN_LENGTH }}"
                 data-bv-stringlength-max="{{ form_settings.PASSWORD_MAX_LENGTH }}"
                 data-bv-stringlength-message="{{ form_settings.PASSWORD_LENGTH_MESSAGE }}"

                 data-bv-identical="true"
                 data-bv-identical-field="repeat_password"
                 data-bv-identical-message="{{ form_settings.PASSWORD_IDENTICAL_MESSAGE }}"

                 data-bv-verbose=false>
        </div>
      </div>  <!-- form-group -->
      <div class="row form-group last-form-group">
        <label for="change-password-repeat" class="col-xs-12 col-sm-3 control-label">Repeat: </label>
        <div class="col-xs-12 col-sm-9 ">
          <input type="password" class="col-xs-12 col-sm-9 form-control" id="change-password-repeat"
                 name="repeat_password" placeholder="Repeat" required

                 data-bv-notempty-message="{{ form_settings.PASSWORD_NOTEMPTY_MESSAGE }}"

                 data-bv-stringlength=true
                 data-bv-stringlength-min="{{ form_settings.PASSWORD_MIN_LENGTH }}"
                 data-bv-stringlength-max="{{ form_settings.PASSWORD_MAX_LENGTH }}"
                 data-bv-stringlength-message="{{ form_settings.PASSWORD_LENGTH_MESSAGE }}"

                 data-bv-identical="true"
                 data-bv-identical-field="new_password"
                 data-bv-identical-message="{{ form_settings.PASSWORD_IDENTICAL_MESSAGE }}"

                data-bv-verbose=false>
        </div>
      </div>  <!-- form group -->
    </div>
    <div id="change-password-footer" class="modal-footer">
        <!-- Notice that the button type is submit. This is required by bootstrap validator. -->
        <button id="change-password-form-submit-button" class='btn btn-primary form-submit-button'
                type="submit">Change Password</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </form>
</div>