{% extends "user_profile/base_profile.html" %}
{% load static %}
{% load tz %}
{% load misc_filters %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "user_profile/css/profile_tickets.css" %}">
{% endblock %}

{% spaceless %}
{% block profile_body %}
  {% if upcoming_tickets %}
    <div class="panel panel-primary tickets-review-panel">
      <div class="panel-heading">
        <h3 class="panel-title">Upcoming Tickets: </h3>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody data-link="row" class="rowlink">
            {% for ticket in upcoming_tickets %}
              <tr>
                {% comment %}Turn localtimeoff because the events might be in a different timezone than the user. We don't want to
                convert the event time to the timezone of the user but to the timezone of the event's location.
                Ticket.get_formatted_start_datetime does this for us. Django will undo the change if localtime is on {% endcomment %}
                <td class="col-xs-2 col-sm-1"><a href="{{ ticket.get_absolute_url }}">{% localtime off %}
                  <span class="ticket-result-date">{{ ticket.get_formatted_start_datetime.date }}</span>
                  <span class="ticket-result-time">{{ ticket.get_formatted_start_datetime|date:"D P" }}</span>
                  {% endlocaltime %}</a></td>
                <td class="col-xs-2 col-sm-1">
                  <p class="ticket-result-price">{{ ticket.price | currency}}</p>
                  {% comment %}TODO enable secure payment{{ ticket.get_payment_method_display }}{% endcomment %}
                </td>
                <td class="col-xs-2 col-sm-4"><div class="search-result-title-location">
                                                <p class="search-result-title">{{ ticket.title | truncatechars:200}}</p>
                                                <p class="search-result-location">{{ ticket.location }} - {{ ticket.venue | truncatechars:200}}</p>
                                              </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
  <div class="panel panel-primary tickets-review-panel">
    <div class="panel-heading">
      <h3 class="panel-title">Available Tickets: </h3>
    </div>
    {% if available_tickets %}
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody data-link="row" class="rowlink">
            {% for ticket in available_tickets %}
              <tr>
                {% comment %}Turn localtimeoff because the events might be in a different timezone than the user. We don't want to
                convert the event time to the timezone of the user but to the timezone of the event's location.
                Ticket.get_formatted_start_datetime does this for us. Django will undo the change if localtime is on {% endcomment %}
                <td class="col-xs-2 col-sm-1"><a href="{{ ticket.get_absolute_url }}">{% localtime off %}
                  <span class="ticket-result-date">{{ ticket.get_formatted_start_datetime.date }}</span>
                  <span class="ticket-result-time">{{ ticket.get_formatted_start_datetime|date:"D P" }}</span>
                  {% endlocaltime %}</a></td>
                <td class="col-xs-2 col-sm-1">
                  <p class="ticket-result-price">{{ ticket.price | currency}}</p>
                  {% comment %}TODO enable secure payment{{ ticket.get_payment_method_display }}{% endcomment %}
                </td>
                <td class="col-xs-2 col-sm-4"><div class="search-result-title-location">
                                                <p class="search-result-title">{{ ticket.title | truncatechars:200}}</p>
                                                <p class="search-result-location">{{ ticket.location }} - {{ ticket.venue | truncatechars:200}}</p>
                                              </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% elif is_owner %}
        You do not have any available tickets.
    {% else %}
        This user has no available tickets.
    {% endif %}
  </div>
  {% if is_owner %}
    <div class="panel panel-primary tickets-review-panel">
      <div class="panel-heading">
        <h3 class="panel-title">In Progress Tickets: </h3>
      </div>
      {% if in_progress_tickets %}
        <div class="table-responsive">
          <table class="table table-hover rowlink" data-link="row">
            <tbody>
              {% for ticket in in_progress_tickets %}
                {% include "tickets/search_result.html" %} <!-- Defining ticket is not necessary, but I think it's more clear -->
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        You do not have any tickets in progress!
      {% endif %}
    </div>
  {% endif %}
  {% if is_owner %}
    <div class="panel panel-primary tickets-review-panel">
      <div class="panel-heading">
        <h3 class="panel-title">Past Tickets: </h3>
      </div>
      {% if past_tickets %}
        <div class="table-responsive">
          <table class="table table-hover">
            <tbody data-link="row" class="rowlink">
              {% for ticket in past_tickets %}
                {% include "tickets/search_result.html" %} <!-- Defining ticket is not necessary, but I think it's more clear -->
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        You have not been to any events yet!
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
{% endspaceless %}