{% extends "base.html" %}
{% load static %}

{% comment %} TODO add gender field. also make header editable {% endcomment %}
{% block css %}
  {{ block.super }}
  <link href="{% static "user_profile/css/user_profile.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="profile-header" class="row wave">
    <div id="user-picture" class="col-xs-12 col-sm-2">
      <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c0.0.480.480/p480x480/10308285_10152489553738156_1129484635342981777_n.jpg?oh=f0bd580da152ef9b472d1b5477f307cf&oe=54B22CA9&__gda__=1421064665_bd82ac82e3d67c50c53301b0fa31607c">
      {% if is_owner %}<span id="edit-profile-icon" class="glyphicon glyphicon-pencil"></span>
                       <span style="display: none;" id="edit-profile-text">Edit Profile</span>
      {% endif %}
    </div>
    <div id="user-info" class="col-xs-12 col-sm-4">
      <div id="name">
        <!-- This h3 tag has been overridden to render inline so that stars are on the same line as it -->
        <h3>{{ user_info.name | title}}{% if user_info.age %}, {{ user_info.age }}{% endif %}</h3>
        <div id="user-rating">
          <h3>
            {% for x in user_info.rating %}
              <span class="glyphicon glyphicon-star"></span>
            {% endfor %}
          </h3>
        </div>
      </div>
      <div id="location">
        {{ user_info.city | title }}, {{ user_info.state | upper }}
      </div>
    </div>
    <div id="last-review" class="col-sm-6 hidden-xs">
      <strong id="recent-review-header">Most Recent Review:</strong>
      {% if most_recent_review_info.rating %}
        {% for x in most_recent_review_info.rating %}
          <strong><span class="glyphicon glyphicon-star"></span></strong>
        {% endfor %}
        <span>
          "{{ most_recent_review_info.contents }}"
        </span><br>
        <span>{{ most_recent_review_info.name }}, {{ most_recent_review_info.age }} | </span>
        <span>{{ most_recent_review_info.city | title }}, {{ most_recent_review_info.state | upper }}</span>
      {% else %}
        <i>This user hasn't been reviewed yet!</i>
      {% endif %}
      </strong>
    </div>
  </div>
  <div id="profile-body" class="row">
    <!--Note that the columns spanned by this div need to equal the columns spanned by the profile picture div-->
    <div id="left-side-bar" class="col-xs-12 col-sm-2">
      <div id="left-side-bar-content" class="row">
        <div id="profile" class="col-xs-4 col-sm-12 side-bar-element">
          <span class="glyphicon glyphicon-user"></span><a class="side-bar-title">Profile</a>
        </div>
        <div id="reviews" class="col-xs-4 col-sm-12 side-bar-element">
          <span class="glyphicon glyphicon-star"></span><a class="side-bar-title">Reviews</a>
        </div>
        <div id="tickets" class="col-xs-4 col-sm-12 side-bar-element">
          <span class="glyphicon glyphicon-tags"></span><a class="side-bar-title">Tickets</a>
        </div>
      </div>
    </div>
    <div id="profile-main" class="col-xs-12 col-sm-10">
      {% for pair in profile_question_answer_pairs %}
        {% include "user_profile/question_answer_pair.html" %}
      {% endfor %}
    </div>
  </div>

{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static "user_profile/js/user_profile.js" %}"></script>
{% endblock %}

{% block modals %}
   <!-- TODO aria-labeledby we need to set this appropriately -->
  <div id="modal-profile-root" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" id="modal-profile-form-content">
      </div>
    </div>
  </div>
{% endblock %}