{% extends "user_profile/base_profile.html" %}
{% load tz %}
{% load static %}
{% load humanize %}
{% load misc_filters %}
{% load l10n %}
{% load compress %}

{% block css %}
  {% compress css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "user_profile/css/view_ticket.css" %}">
  {% endcompress %}
{% endblock %}

{% block profile_body %}
  <div class="panel panel-primary tickets-review-panel transbox">
    <div class="panel-heading">
      <a style="color:#ffffff" href="{% url "profile_tickets" username=user_info.username %}"><span class="glyphicon glyphicon-arrow-left"></span>  See All User's Tickets</a>
    </div>
    <div id="ticket-contents" class="panel-body">
      <div id="row-top" class="row">
        <div class="col-xs-12">
          <h2 {% if ticket_status == 'S' or ticket_status == 'C' or ticket_status == 'E' %}style="color:red;"{% endif %} id="ticket-title">{% if ticket_status == 'S' %}SOLD: {% endif %}{% if ticket_status == 'C' %}CANCELLED: {% endif %}{% if ticket_status == 'E' %}EVENT PASSED: {% endif %}{{ ticket.title}}</h2>
        </div>
      </div>
    <div id="column-left-ticket">
    <div id="row-middle" class="row">
      <div id="right-middle" class="col-xs-12 col-sm-4 middle-contents">
        <div class="middle-label"><span id="label-title">Price:</span>
          <div class="middle-item">{{ ticket.price | currency}}</div>
      </div>
      </div>
      <div id="left-middle" class="col-xs-12 col-sm-4 middle-contents">
        <div class="middle-label"><span id="label-title">Where:</span>
          <div class="middle-item">{{ ticket.location }}<br>{{ ticket.venue }}</div>
      </div>
      </div>
      <div id="mid-middle" class="col-xs-12 col-sm-4 middle-contents">
        <div class="middle-label"><span id="label-title">When:</span>
          {% comment %}Turn localtimeoff because the events might be in a different timezone than the user. We don't want to
          convert the event time to the timezone of the user but to the timezone of the event's location.
          Ticket.get_formatted_start_datetime does this for us. Django will undo the change if localtime is on {% endcomment %}
          <div class="middle-item">{% localtime off %}{{ ticket.get_formatted_start_datetime|date:"D N d, P" }}{% endlocaltime %}</div>
        </div>
      </div>
    </div>
      <div id="about">
        <div class="about">
          {{ ticket.about }}
        </div>
      </div>
        <div id="ajax-errors" class="row" style="display:none;">
          <div class="alert alert-danger">
            <p></p>
          </div>
        </div>
          <div id="buy-or-message-buttons">
            {% if is_owner %}
              <button id="delete-ticket" type=button class="btn btn-primary cancel-ticket" type="button">Delete Ticket</button>
            {% else %}
              {% if has_request %}
                <button id="cancel-request" class="btn btn-primary">Cancel Request To Buy</button>
              {% else %}
                <button id="request-to-buy" class="btn btn-primary">Request To Buy</button>
              {% endif %}
              <button class="btn btn-default message-user" type="button">Message User</button>
              {% if ticket.is_buy_it_now_enabled %}
                <button id="buy-it-now" class="btn btn-default" type="button">Buy It Now</button>
              {% endif %}
            {% endif %}
          </div>
    </div>
      <div class="column-right-ticket">
        <img class="instruction" src="{% static "user_profile/pics/ticket_instructions.png" %}">
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
  {% with ticket_id=ticket.id %}
    <script type="text/javascript">
        window.additional_parameters.can_delete_ticket_url = "{% url "can_delete_ticket" ticket_id=ticket_id %}";
        window.additional_parameters.can_message_url = "{% url "can_message" %}";
        window.additional_parameters.can_request_ticket_url = "{% url "can_request_ticket" ticket_id=ticket_id %}";
        window.additional_parameters.request_to_buy_url = "{% url "request_to_buy" %}";
        window.additional_parameters.ticket_id = "{{ ticket.id }}";
        window.additional_parameters.ticket_amount = "{{ ticket.price }}";
        window.additional_parameters.ticket_title = "{{ ticket.title }}";
        window.additional_parameters.user_id = "{{ user_info.user_id }}";
        window.additional_parameters.send_message_url = "{% url "send_message" %}";
        window.additional_parameters.message_user_form_url = "{% url "message_user_modal" ticket_id=ticket_id %}";
        window.additional_parameters.delete_ticket_url = "{% url "delete_ticket" ticket_id=ticket_id %}";
        window.additional_parameters.cancel_request_to_buy_url = "{% url "cancel_request_to_buy" %}";
    </script>
  {% endwith %}
    {% compress js %}
      {{ block.super }}
      <script type="text/javascript" src="{% static "user_profile/js/view_ticket.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block modals %}
  {{ block.super }}
   <!-- TODO aria-labeledby we need to set this appropriately -->
   <div id="modal-message-user-root" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" id="modal-message-user-form-content"></div>
    </div>
  </div>

  <div id="stripe-popup-notification-root" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="popup-notification" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body-wrapper">
          <div class="modal-body alert alert-info">
            <div class="pull-left" style="width: 90%;">
              <p>PLEASE READ: When you close this box, you will be asked to enter your credit card information for the $5 fee.</p>
              <p>You will not be charged until the seller accepts your request. If the seller does not accept your request, you will not be charged.</p>
              <p>Once you initiate this request, you will not be able to request to buy a ticket to another event on the same day at the same time. You can still message sellers about any ticket.</p>
            </div>
            <div class="pull-right" style="width: 10%;">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}