{% extends "user_profile/base_profile.html" %}
{% load static %}
{% load compress %}

{% block css %}
  {% compress css %}
    {{ block.super }}
  {% endcompress %}
{% endblock %}

{% block profile_body %}
  {% for pair in question_answer_pairs %}
    {% if is_owner %}<form class="question-update-form" method="post" action="{% url "update_question" username=user_info.username question_id=pair.1.id %}">
    {% csrf_token %}{% endif %}
    <div class="row profile-content-pair">
      <div class="col-xs-12 col-md-2">
        <h4 class="question">{{ pair.1.question }}</h4>
      </div>
      <div class="col-xs-12 col-md-10">
        <textarea class="answer transbox" name="answer"{% if not is_owner %}readonly="true" {% endif %}>{{ pair.0.answer }}</textarea>
        {% if is_owner %}<button type="submit" class="btn btn-primary pull-left answer-button">Save<div class="answer-button-status"></div></button>{% endif %}
      </div>
    </div>
    {% if is_owner %}</form>{% endif %}
  {% endfor %}
{% endblock %}

{% block js %}
    <!-- The spin wheel used when updating profile question/answer information
         Needs to be loaded before user_profile.js since user_profile.js calls spin.()-->
  {% compress js %}
    <script type="text/javascript" src="{% static "sparestub/js/spin.js" %}"></script>
    {{ block.super }}
  {% endcompress %}
{% endblock %}