@charset "UTF-8";

/* 50px for the nav bar and another 5 to separate the nav bar from the rest of the page */
body {
    padding-top: 60px;
}

.navbar {
    background-color: #F0F0F5;
    border-style: none;
}

/* Make sure that every link in the navbar changes the cursor to a hand */
.navbar a {
    cursor: pointer;
}

/* The alert bar should have minimal spacing around it to conserve vertical screen space */
#notification-root .alert {
    margin-bottom: 10px;
}

#signup-notification-root .alert {
    margin-bottom: 0px; /* The same applies to the contact form. Minimize space around the alert. */
    margin-top: 15px;  /* But make sure that the "Email Us" header and alert have spacing between them. */
}

#login-notification-root .alert {
    margin-bottom: 0px; /* The same applies to the contact form. Minimize space around the alert. */
    margin-top: 15px;  /* But make sure that the "Email Us" header and alert have spacing between them. */
}

#contact-notification-root .alert {
    margin-bottom: 0px; /* The same applies to the contact form. Minimize space around the alert. */
    margin-top: 15px;  /* But make sure that the "Email Us" header and alert have spacing between them. */
}


/* Center the text for the notification bar */
#notification-root {
    text-align: center;
}

/* Make sure that there is even spacing between the form fields and submit buttons */
.modal-body>div:last-child
{
    margin-bottom: 0;
}

.modal-title
{
    margin-bottom: 0;
}

.modal-content .form-group{
    padding-left: 20px;
    padding-right: 20px;
}
