@charset "UTF-8";

/* NAVBAR */
.navbar {
    background-color: #F0F0F5;
    border-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

/* Make sure that every link in the navbar changes the cursor to a hand */
.navbar a {
    cursor: pointer;
}

#navbar-login-button {
    margin-left: 5px;
}

/* END NAVBAR */


#notification-root {
    margin-bottom: 10px; /* The alert bar should have minimal spacing around it to conserve vertical screen space */
    text-align: center;   /* Center the text for the notification bar */
}
/*If the margin appears inside the notification root, then the inner div will push the boundaries of
notifcation-root outwards, and they will not collapse with top margins of elements below notification-root */
#notification-root div{
    margin-bottom: 0px;
}

#signup-notification-root .alert {
    margin-bottom: 0px; /* The same applies to the contact form. Minimize space around the alert. */
    margin-top: 15px;  /* But make sure that the "Email Us" header and alert have spacing between them. */
}

#login-notification-root .alert {
    margin-bottom: 0px; /* The same applies to the contact form. Minimize space around the alert. */
    margin-top: 15px;  /* But make sure that the "Email Us" header and alert have spacing between them. */
}

#contact-notification-root .alert {
    margin-bottom: 0px; /* The same applies to the contact form. Minimize space around the alert. */
    margin-top: 15px;  /* But make sure that the "Email Us" header and alert have spacing between them. */
}


/* Make sure that there is even spacing between the form fields and submit buttons */
.modal-body>div:last-child
{
    margin-bottom: 0;
}

.modal-title
{
    margin-bottom: 0;
}

.modal-content .form-group{
    padding-left: 20px;
    padding-right: 20px;
}

.jumbotron {
    margin-top: 20px;
    background-color: #F0F0F5;
    margin-left: 20px;
    margin-right: 20px;
}

.jumbotron a {
    margin:0 auto;
    display:block;
    max-width: 250px;
}

.container-fluid {
    padding: 0;
}

/* Override feedback icon position so they they do not cover other icons
Only applied to a couple fields that have specific icons before the feedback icons appear
shifted-feedback-icons is just a class I am using to identify form groups that need adjustment.
It has no special styling associated with it.
The form-control-feedback class will be attached by BV to certain <i> tags that contain the feedback icons.
*/
#submit-ticket-form .shifted-feedback-icon .form-control-feedback {
    top: 0!important;
    right: 60px!important;
}

/* Turns out because we use input groups in the ticket form, we cannot use the same selector for both
inputs because the ticket form's date input needs more shifting than the contact form's subject input.
*/
#contact-form .shifted-feedback-icon .form-control-feedback {
    top: 0!important;
    right: 30px!important;
}
