@charset "UTF-8";

/*
.panel-heading {
   background: url("http://www.cssmatic.com/img/bg-right-column.jpg");
}*/

/* Override the default bootstrap setting that applies white-space: nowrap to all of these selectors.
   This looks TERRIBLE on small screens when you have long titles or reviews since the text never breaks */
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td,
.table-responsive > .table > tfoot > tr {
    white-space: normal;
}

.table-responsive {
    border: none;
}

/* Remove the uppermost line from tables which have no header labels */
.table > tbody > tr:first-child > td {
    border-top: none;
}

/* Override padding for logo in navbar */
.navbar-brand {
    padding: 10px;
}

/* Override bootstrap button styling with branding colors */
.btn-primary {
    background-color: #2CB0EF;
    border-color: #2CB0EF;
}

.btn-primary:hover {
    background-color: #CA2473;
    border-color: #CA2473;
}

.btn-default:hover {
    border-color:  #CA2473;
    color:  #CA2473;
    background-color: #ffffff;
}

.panel-primary > .panel-heading {
    background-color: #2CB0EF;
    border-color: #2CB0EF;
    font-size: 16px;
}

.panel {
    border: none;
    -webkit-box-shadow: none;
}


/* Larger font size for all buttons in navbar */
.navbar-nav>li>a, .navbar-nav>li>button {
    font-size: 16px;
}

::-webkit-input-placeholder {
   font-size: 16px;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 16px;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 16px;
}

:-ms-input-placeholder {
   font-size: 16px;
}

/* Pad the body so that it does not overlap the navbar */
body {
    padding-top: 50px;
}

/* Button and Input elements won't get this property when we only target the body */
button, input, body {
    -webkit-font-smoothing: antialiased;
}

/* The block dots in lists won't be used anywhere */
ul {
    list-style: none;
}

/* Make a button look like an anchor tag */
.link-button {
    background:none!important;
    border:none;
    display: inline!important;
    padding:0!important;
    cursor: pointer;
    border-bottom:1px solid rgb(169, 68, 66);
}

textarea {
    /* Do not allow resize handles to appear on textarea elements*/
    resize: none;

    /* rounded corners */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.glyphicon-star {
    color: gold;
}

.glyphicon-ok {
    color: green;
}

.glyphicon-remove {
    color: red;
}

/* Disable the annoying number spinner for type=number HTML5 input fields in Chrome/Safari/IE*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Disable the annoying number spinner for type=number HTML5 input fields in Firefox*/
input[type=number] {
    -moz-appearance:textfield;
}

/* NAVBAR */
.navbar {
    background-color: #ffffff;
    border-style: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
}

/* The search dropdown is not really visible when the nav bar is collapsed. Make it so!*/
.navbar>.navbar-collapse {
    overflow: visible;
}


@media screen and (max-width: 767px), screen and (max-device-width: 767px) {
    /* Removes padding from navbar on small screens so that logo, search bar, and menu toggle can all fit*/
    .navbar {
        padding: 0;
    }

    /* When the dropdown is displayed, it will appear inside collapsed navbar. When the dropdown is positioned absolutely,
       it's position will not affect the size of it's parent, so it remains invisible. This fixes that */
    #search-ticket-dropdown {
        display: relative;
    }

    /* The filter input fields in the search ticket dropdown need to be the width as the text search input box */
    #search-ticket-dropdown>li {
        width: 75%;
        padding: 0 12px;
    }
}

/* Make sure that every link in the navbar changes the cursor to a hand */
.navbar a {
    cursor: pointer;
}

#navbar-login-button {
    margin-left: 5px;
}

#login-form-signup-link {
    cursor: pointer;
}

/* Allows login/signup buttons and contact/submit Ticket buttons to display text to eachother on mobile. */
@media screen and (max-width: 834px), screen and (max-device-width: 834px) {
    .nav > li {
        display: inline-block;
    }
}


/* SEARCH TICKET */

/* Allow the submit button to be on the same line as the search box on small screens. */
#search-ticket-input {
    display: inline-block;
    width: 75%; /* Don't make this percentage bigger. It will work most of the time, but sometimes certain browsers
                   (*cough* Chrome *cough* decide they want to render the font size differently than the css specifies.
                   This percentage ensures the search button does not appear on a different line when Chrome
                   gets sassy. */
}

/* Before the navbar collapases, let's try to shrink it down so it doesn't take up 2 lines of space */
@media screen and (min-width:901px) and (max-width: 1000px), screen and (min-device-width: 901px) and (max-device-width: 1000px) {
    .navbar-nav>li>a {
        padding: 15px 12px;
        font-size: 14px;
    }
    #search-ticket-form {
        padding: 0;
        max-width: 200px;
    }
    ::-webkit-input-placeholder {
    font-size: 14px;
    }
    :-moz-placeholder { /* Firefox 18- */
       font-size: 14px;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 14px;
    }
    :-ms-input-placeholder {
       font-size: 14px;
    }
    .navbar-nav button, .navbar-nav a {
        font-size: 14px;
    }
}

/* Before the navbar collapases, let's try to shrink it down so it doesn't take up 2 lines of space */
@media screen and (min-device-width:768px) and (max-device-width:900px), screen and (min-width:768px) and (max-width: 900px) {
    .navbar-nav>li>a {
        padding: 15px 8px;
        font-size: 13px;
    }
    #search-ticket-form {
        padding: 0;
        max-width: 180px;
    }
    ::-webkit-input-placeholder {
    font-size: 13px;
    }
    :-moz-placeholder { /* Firefox 18- */
       font-size: 13px;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 13px;
    }
    :-ms-input-placeholder {
       font-size: 13px;
    }
    .navbar-nav button, .navbar-nav a {
        font-size: 13px;
    }
}

#search-ticket-submit {
    /* Position the icon to the right side of the search input box */
    right: -16px;
    top: 0px;

    /* Make the cursor turn into a pointer to indicate that the search icon is clickable */
    cursor: pointer;

}

#search-ticket-dropdown {
    padding: 15px;
    left: -15px;
}

#search-ticket-dropdown .form-group {
    margin-bottom: 15px;
    width: 100%!important;
}

#search-ticket-type {
    width: 100%;
}

#search-ticket-location {
    width: 100%;
}


/* END SEARCH TICKET */


/* Create spacing between the user profile button and the logout button and the inbox icon.
5px is the same amount between the login and signup buttons */
#navigation-bar-right-div button {
    margin-left: 5px;
}

/* Don't let the logout and user login buttons push up against the edge of the page. */
#navigation-bar-right-div:last-child {
    margin-right: 15px;
}


/* Make the inbox icon have the same spacing as the user profile and logout buttons next to it */
#inbox-icon a {
    padding: 6px 10px;
    margin: 8px 0;
    border: solid 1px white;
    font-size: 14px;
}
#inbox-icon a:hover {
    border-color: #CA2473;
    color: #CA2473;
    border-radius: 4px;
}


/* END NAVBAR */

/* NOTIFICATIONS */

.close {
    line-height: 20px;
}

.notification-style {
    padding: 5px;
}

.notification-content {
    font-size: 15px;
    color: #717172;
    padding-right: 5px;
}

.notification-content>a {
    text-decoration: none;
    font-weight: bold;
    color: #717172;
    cursor: pointer;
}

#signup-notification-root .alert, #login-notification-root .alert, #contact-notification-root .alert {
    margin-bottom: 0px; /* The same applies to the forms. Minimize space around the alert. */
    margin-top: 15px;  /* But make sure that the modal-header and alert have spacing between them. */
}

/* END NOTIFICATIONS */


/* Make sure that there is even spacing between the form fields and submit buttons */
.last-form-group
{
    margin-bottom: 0;
}


.modal-title
{
    margin-bottom: 0;
}

.modal-content .form-group{
    padding-left: 20px;
    padding-right: 20px;
}

.modal-body-wrapper {
    margin: 15px;
}

.modal-body-wrapper .modal-body {
    margin: 0;
    overflow: auto;
}


/* YES CANCEL MODAL */
#modal-yes-cancel-title {
    margin-top: 0px; /* Make sure the the x button and the title are aligned evenly */
}

#modal-yes-cancel-form {
    margin-top: 20px;
}

#modal-popup-notification-content {
    margin-bottom: 10px;
    font-size: 16px;
}

#modal-popup-notification-content p {
    margin: 10px
}

/* Make sure that modal dialogues appear in front of the fixed notification root */
.modal-dialog {
    z-index: 10000;
}

/* END YES CANCEL MODAL */

.jumbotron {
    margin-top: 20px;
    background-color: #F0F0F5;
    margin-left: 20px;
    margin-right: 20px;
}

.jumbotron a {
    margin:0 auto;
    display:block;
    max-width: 250px;
}

/* SUBMIT TICKET FORM */

/* Override feedback icon position so they they do not cover other icons
Only applied to a couple fields that have specific icons before the feedback icons appear
shifted-feedback-icons is just a class I am using to identify form groups that need adjustment.
It has no special styling associated with it.
The form-control-feedback class will be attached by BV to certain <i> tags that contain the feedback icons.
*/
#submit-ticket-form .large-feedback-icon-shift .form-control-feedback {
    top: 0!important;
    right: 60px!important;
}

#submit-ticket-form .small-feedback-icon-shift .form-control-feedback {
    top: 0!important;
    right: 30px!important;
}
/* END SUBMIT TICKET FORM */

/* GENERAL FORM CSS */
/* A class that can be applied to a span attribute to attach prepend a currency symbol to the left side of an input field */
.currency {
    position: absolute;
    left: 24px;
    top: 7px;
}
  /* END GENERAL FORM CSS */

#disclosure-message {
    text-align: left;
    padding-bottom: 15px; /* 15px to match the padding at the top of the modal-footer class. */
}

/* Turns out because we use input groups in the ticket form, we cannot use the same selector for both
inputs because the ticket form's date input needs more shifting than the contact form's subject input.
*/
#contact-form .shifted-feedback-icon .form-control-feedback {
    top: 0!important;
    right: 30px!important;
}

/* STYLE AUTOCOMPLETE/TYPEAHEAD DROPDOWN */

/*! The MIT License (MIT)
*  Copyright (c) 2014 Bass Jobsen
*  Permission is hereby granted, free of charge, to any person obtaining a copy of
*  this software and associated documentation files (the "Software"), to deal in the
*  Software without restriction, including without limitation the rights to use, copy,
*  modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
*  and to permit persons to whom the Software is furnished to do so, subject to the
*  following conditions:
*
*  The above copyright notice and this permission notice shall be included in all
*  copies or substantial portions of the Software.
*
*  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
*  INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
*  PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
*  HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
*  CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE
*  OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #2CB0EF;
}
span.twitter-typeahead .tt-suggestion.tt-cursor {
  color: #ffffff;
  background-color: #428bca;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}

