h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.title {
    text-align: center;
}

#introduction {
    color: white;
    font-family: Helvetica, Arial, sans-serif;

    background: url("https://s3.amazonaws.com/sparestub/static_root/sparestub/backgrounds/concert.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding-top: 40px;
}

#intro-content {
    padding-bottom: 400px; /* This is just a base height that will be overridden by javascript.
                              It just prevents really crummy initial loading because the images aren't there yet */
}

#intro-button-div {
    margin-top: 20px;
}

#left-intro {
    margin-left: auto;
    margin-right: 10px;
    display: inline-block;
}

#right-intro {
    margin-right: auto;
    margin-left: 10px;
    display: inline-block;
}

.top-intro {
    font-size: 40px;
    font-weight: 400;
    padding-top: 20px;
    text-shadow: 1px 1px black;
}

.intro-btn {
    padding: 11px;
    font-size: 17px;
    margin-top: 15px;
}

#learn-more {
    padding-bottom: 15px;
}

#learn-more div {
    display: inline-block;
    cursor: pointer;
}

#learn-more h3 {
    margin-bottom: 0;
    line-height: .2;
    text-shadow: 1px 1px black;
}

#learn-more div:hover {
    color:  #CA2473;
}

/* INTRODUCING SPARESTUB */

#introducing-sparestub {
    text-align: center;
    color:white;

    background: url("https://s3.amazonaws.com/sparestub/static_root/sparestub/backgrounds/homepage_colored_lights.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#introducing-sparestub {
    padding: 60px 0;
    font-weight: 300;
}

#new-friends {
    margin: 10px 0 20px 0;
}

/* END INTRODUCING SPARESTUB */

/* HOW IT WORKS */

#how-it-works {
    background: url("https://s3.amazonaws.com/sparestub/static_root/sparestub/backgrounds/squared_metal.png");
    /*url("https://s3.amazonaws.com/sparestub/static_root/sparestub/backgrounds/old_moon.png");*/
    padding: 40px 0;
}

#steps {
    margin-left: 10px;
    margin-right: 10px;
}

.step {
    padding-bottom: 30px;
}

.step-image {
    max-width: 300px;
}

.step-explanation {
    padding-top: 15px;
    text-align: center;
    max-width: 350px;
}

.step-explanation > h4 {
    font-size: 24px;
    font-weight: 300;
}

.step-explanation > p {
    font-size: 18px;
    font-weight: 200;
}

#how-it-works .title {
    font-size: 50px;
    font-weight: 300;
    padding-bottom: 30px;
}

/* END HOW IT WORKS */


/* PRESS */

#press {
    padding: 25px 0 30px;
    background: url("https://s3.amazonaws.com/sparestub/static_root/sparestub/logos/bg3.jpg");
    border-bottom: 1px solid darkgray;
    border-top: 1px solid darkgray;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#press a {
    color:#000000;
}

#press-title {
    padding-bottom: 40px;
    color: rgb(51, 51, 51);
}

.press-image {
    max-width: 250px;
    border-radius: 25px;
    padding-bottom: 20px;
}

.column-press {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin: 20px;
}

/* END PRESS */

.footer {
    margin: 0 auto;
    padding: 25px 0 30px;
    text-align: center;
    position: relative;
    z-index: 30;
}

.transbox {
  background-color: #ffffff;
  opacity:0.5;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

#footer-transbox {
  background-color: #ffffff;
  opacity:0.7;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}
.transbox li {
  color: #000000;
        font-weight: 600;
}

.transbox a {
  color: #000000;
    font-weight: 600;
}


.footer a {
    font-size: 14px;
}

.footer-container {
    display: inline-block;
    vertical-align: top;
}

.footer-column {
    font-size: 13px;
    color: white;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    text-align: left;
    margin-bottom: 10px;

}

.footer-column-title {
    font-weight: 500;
    border-bottom: 1px solid black;
    width: 70%;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 18px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

@media (max-width: 500px) {
    .intro-btn {
        padding: 10px;
        font-size: 15px;
    }
}

@media (max-width: 1050px) {
    .step-image {
        max-width: 260px;
    }
}

@media (max-width: 950px){
    .step-image {
        max-width: 225px;
    }
}