/* Make sure that there is even spacing between the form fields and submit buttons */
#signup-form>div:last-child
{
    margin-bottom: 0px;
}

.container
{
    background-color: #ffffff;
    width: 100%;
}