/* 50px for the nav bar and another 5 to separate the nav bar from the rest of the page */
body {
    padding-top: 60px;
}

/* Make sure that every link in the navbar changes the cursor to a hand */
.navbar a {
    cursor: pointer
}

/* The alert bar should have minimal spacing around it to conserve vertical screen space */
.alert {
    margin-bottom: 10px;
}

/* Center the text for the notification bar */
#notification-root {
    text-align: center;
}

/* Make sure that there is even spacing between the form fields and submit buttons */
.modal-body>div:last-child
{
    margin-bottom: 0;
}

.modal-title
{
    margin-bottom: 0;
}

.modal-content .form-group{
    padding-left: 20px;
    padding-right: 20px;
}
