{% load humanize %}
{% load misc_filters %}

<div class="conversation" data-identity-ticket="{{ ticket_id }}" data-identity-user="{{ other_user_id }}">
  {% for message in messages %}
    <div class="talk-bubble-wrapper">
      <div class="talk-bubble pull-left {% if message.did_this_user_send %}this-user{% else %}that-user{% endif %}">
        <img class="talk-bubble-pic pull-left"
             src="{{ message.pic_url }}">
        <div class="talk-bubble-contents pull-left">
          {{ message.body }}
        </div>
      </div>
      <div class="talk-bubble-timestamp pull-right">
        {{ message.timestamp | naturaltime | upto:','  }}
      </div>
    </div>
  {% endfor %}
</div>