{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load misc_filters %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "messages/css/inbox.css" %}">
{% endblock %}

{% block content %}
  <div id='page-wrapper' class="container-fluid">
    <div class="row">
      <div id="threads" class="col-xs-3">
        {% if threads %}
          {% for ticket_id, user_ids in threads.items %}
            {% for other_user_id, thread in user_ids.items %}
              <div class="row thread" data-identity-ticket="{{ ticket_id }}" data-identity-user="{{ other_user_id }}">
                <div class="col-xs-2">
                  <img class="thread-pic" src="{{ thread.pic_url }}" alt="User profile picture">
                </div>
                <div class="col-xs-10">
                  <h5 class="thread-name">{{ thread.name | title }}</h5>
                  <span class="thread-blurb">{{ thread.blurb | truncatechars:20 }}</span>
                  <span class="thread-last-message-timestamp">{{ thread.last_timestamp | naturaltime | upto:',' }}</span>
                </div>
              </div>
            {% endfor %}
          {% endfor %}
        {% else %}
          <div class="no-threads">
            <h3 class="text-center">You have no messages!</h3>
            <p class="text-center">Find a ticket you like, and shoot the seller a message!</p>
          </div>
        {% endif %}
      </div>
      <div id="current-conversation" class="col-xs-9">
        <div id="convo-header">
        </div>
        <div id="ticket-ribbon">
        </div>
        <div id="conversation-body">
        </div>
        <div id="new-message-box">
          <div id="new-message-textarea-wrapper">
            <form id="send-message-form">
              <textarea id="new-message-textarea" placeholder="Say something..." rows=5></textarea>
              <button id="send-message" type="submit" class="btn btn-primary pull-right">Send Message</button>
            </form>
          </div>
          <div id="send-message-errors" class="alert alert-danger" style="display: none">
            <ul>
              <li>You can't do that!</li>
            </ul>
          </div>
        </div>
      </div>
    </div> <!-- .row -->
  </div>  <!-- .container-fluid -->
  <div id="all-convo-headers" style="display:none;">
    {% for ticket_id, ticket_convos in convo_headers.items %}
      {% for other_user_id, convo_header in ticket_convos.items %}
        {% include "messages/convo_header.html" %}
      {% endfor %}
    {% endfor %}
  </div>
  <div id="all-ticket-ribbons" style="display:none;">
    {% for ticket_id, ticket_ribbon in ticket_ribbons.items %}
      {% include "messages/ticket_ribbon.html" %}
    {% endfor %}
  </div>
  <div id="all-conversation-bodies" style="display:none;">
    {% for ticket_id, other_user_ids in messages.items %}
      {% for other_user_id, messages in other_user_ids.items %}
        {% include "messages/convo.html" %}
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}

{% block js %}
   <script type="text/javascript">
       window.additional_parameters.mark_messages_read_url = "{% url "mark_messages_read" %}";
       window.additional_parameters.send_message_url = "{% url "send_message" %}";
   </script>

  {{ block.super }}
  <script type="text/javascript" src="{% static "messages/js/inbox.js" %}"></script>
{% endblock %}