@charset "UTF-8";


body {
  background: url("https://s3.amazonaws.com/sparestub/static_root/sparestub/backgrounds/bg_18.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* USER HEADER */

#profile-header {
    /*background: url("https://s3.amazonaws.com/sparestub-staging/static_root/sparestub/backgrounds/old_moon.png");*/
    padding-top: 10px;
    color: #f5f5f5;
}

/* Space the profile picture away from the left of the screen slightly */
#user-picture {
    padding-left: 10px; /* notice that 40px is way bigger than what happens... something eats some of the pixels. */
    padding-right: 20px;
}

#user-picture div {
    /* Needed to position the edit pencil inside the profile picture */
    position: relative;
    display: inline-block; /* Width and height of child img element */
}

#user-picture img {
    /* rounded corners */
    border: none;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    -webkit-border-radius: 20px;

    height: auto;
    width: 100%;
    max-width: 400px;
}

#edit-profile-icon {
    position: absolute;
    top: auto; /* Bottom property refuses to work without this */
    right: 10px;
    bottom: 10px;
    color: gainsboro;
    font-size: 1.8em;
}

#edit-profile-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: gainsboro;
}

#recent-review-header {
    display: block;
}

#user-info {
    padding-left: 0px;
}


/* END USER HEADER */

/* LEFT SIDE BAR */

#left-side-bar {
    padding-left: 10px;
}

#left-side-bar a:hover {

}

#left-side-bar-content {
    width: 100%;
    margin: 0;
}

#left-side-bar-content:first-child {
    margin-top: 20px;
}


#left-side-bar-content:last-child {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #f0e8e8;
}
.side-bar-element {
    position: relative;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #f0e8e8;
}

/* Position the glyphicons on the left nav bar to the left of the labels */
.side-bar-element .glyphicon {
    position: absolute;
    top: 16px;
    left: 3px;
    color: #f5f5f5;
}

/* Make sure to use a pointer hand for links */
.side-bar-element a {
    cursor: pointer;
}

.side-bar-element a:hover {
    color: #CA2473;
    text-decoration: none;
}

.side-bar-title {
    /* Make the h tags inline-block so that we can place glyphcons next to them */
    color: #f5f5f5;
    font-size: 15pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}


/* Don't just end when the text entered ends */
body {
    padding-bottom: 100px;
}

/* END LEFT SIDE BAR */

/* PROFILE CONTENT */
#profile-main {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 0;
}

.profile-content-pair {
    margin-bottom: 20px;
}

.tickets-review-panel {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}


.answer {
    width: 100%;
    height: 10em;
}

.answer-button {
    position: relative; /* Needed to position spinners relative to the save buttons */
}

.answer-button-status {
    position: absolute;
    left: 75px;
    top: 50%;
}

.answer-button-status .glyphicon {
    position: absolute;
    left: -10px;
    top: -5px;
    font-size: 16pt;
}

.question {
    color: #f5f5f5;
}
/* END PROFILE CONTENT */

.review {
    margin-bottom: 15px;
}
.transbox {
  background-color: #ffffff;
  opacity:0.7;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}
.transbox table {
  color: #000000;
}



#edit-profile-picture {
    /* This doesen't appear to work. The select profile button still has a non-pointer cursor on this element */
    cursor: pointer;

    /* Set the width and height to 1 px so that the element is still clickable,
    but the non-pointer cursor is almost never displayed */
    width: 1px;
    height: 1px;
}

#edit-profile-form .feedback-icon-shift .form-control-feedback {
    top: 0!important;
    left: 250px!important;
}

.fileinput-preview {
    width: 250px;
    height: 200px;
}

/* Ensure that all buttons fit on one line */
#fileinput-preview-button-holder span, #fileinput-preview-button-holder button, #fileinput-preview-button-holder a {
    font-size: 10px;
    padding: 5px, 10px, 5px, 10px;
}

#change-password-header {
    border-top: dashed black 1px;
    border-bottom: none;
}

#change-password-header h4 {
    margin-bottom: 0;
}

#edit-profile-footer, #change-password-footer {
    border-top: None;
}

@media screen and (max-device-width:768), screen and (max-width: 768px) {
    #user-info {
        padding-left: 10px;
        padding-top: 10px;
    }

    .side-bar-element, .side-bar-title {
        font-size: 16px;
    }

    .side-bar-element .glyphicon {
        position: absolute;
        top: 12px;
        left: 3px;
    }
}

    /* Needed so that we can fit a reasonable number of characters of the last review in the header */
    @media screen and (min-width: 769px) and (max-width: 1100px), screen and (min-device-width: 769px) and (max-device-width: 1100px) {
        #user-info {
            padding-top: 12px;
        }

        #last-review {
            padding-top: 12px;
        }

    }

    @media screen and (min-device-width: 1101px), screen and (min-width: 1101px) {
        #user-info {
            padding-top: 20px;
        }

        #last-review {
            padding-top: 20px;
        }

    #user-info h3 {
        margin-top: 0;
        display: inline;
        }
    }
