@charset "UTF-8";


#ticket-title {
    margin-top: 0px;
    margin-bottom: 20px;
    word-wrap: break-word; /* TEST ME TODO handle really really long one word titles that overflow */
}

#buy-or-message-buttons {
    margin-top: 25px;
}

.middle-contents {
    padding-top: 10px;
    padding-bottom: 10px;
}

.middle-label {
    font-weight: bold;
    display: block;
}

.middle-item {
    display: block;
}

#about {
    padding-top: 15px;
    font-size: 16px;
}

#request-to-buy-errors {
    margin-top: 25px;
}

#request-to-buy-errors .alert {
    margin-bottom: 0;
}

