@charset "UTF-8";


#ticket-title {
    margin-top: 0px;
    margin-bottom: 20px;
    word-wrap: break-word; /* TEST ME TODO handle really really long one word titles that overflow */
}

.transbox {
  background-color: #ffffff;
  opacity:0.8;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}
.transbox table {
  color: #000000;
}


#buy-or-message-buttons {
    margin-top: 25px;
}

.middle-contents {
    padding-top: 10px;
    padding-bottom: 10px;
}

.middle-label {
    display: block;
}

.middle-item {
    display: block;
}

#about {
    padding-top: 15px;
    font-size: 16px;
}

.about {
    display: block;
}

#ajax-errors {
    margin-top: 25px;
}

#ajax-errors .alert {
    margin-bottom: 0;
}


#column-left-ticket {
    float: left;
    display: inline-block;
    width: 50%;
}

.column-right-ticket {
    display: inline-block;
    float: right;
    width: 50%;
}

.instruction{
    max-width: 350px;

}

@media (max-width: 898px) {
    .instruction{
        max-width: 350px;
        text-align: center;
}
}

@media (max-width: 897px) {
   .instruction {
       max-width: 300px;
       padding: 15px;
   }
    .column-right-ticket {
        clear: left;
        display: block;
        width: 100%;
    }
    .column-left-ticket {
        float: none;
        display: block;
        width: 100%;
    }
}


