@charset "UTF-8";


#ticket-title {
    margin-top: 0px;
    margin-bottom: 20px;
    word-wrap: break-word; /* TEST ME TODO handle really really long one word titles that overflow */
}

#buy-or-message-buttons {
    margin-top: 25px;
}

.middle-contents {
    padding-top: 10px;
    padding-bottom: 10px;
}

.middle-label {
    display: block;
}

.middle-item {
    display: block;
}

#about {
    padding-top: 15px;
    font-size: 16px;
}

.about {
    display: block;
}

#ajax-errors {
    margin-top: 25px;
}

#ajax-errors .alert {
    margin-bottom: 0;
}


#column-left-ticket {
    float: left;
    display: inline-block;
    width: 50%;
}

.column-right-ticket {
    display: inline-block;
    float: right;
    width: 50%;
}

