@charset "Utf-8";

/* Pad the top so that the body does not overlap the 50px navar and so that there is room in between them*/
body {
    padding-top: 70px;
}

/* Center the label that says "filter by" that is next to all of the different filters */
/* TODO we probably need a better solution than just copying the pagination class height*/
#search-ticket-navbar p {
    height: 34px;
    margin-top: 5px;
    margin-bottom: 5px;

    /* We need a little space between the filter label and the actual filters */
    margin-right: 10px;

    /* Center the text within the div */
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: -moz-box;
    -moz-box-align: center;

}

/* Do not allow the filters to float to the left of their label */
#search-ticket-navbar ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-col {
    text-align: right;
}

.search-result-title {
    font-size: 16px;
    line-height: 17px;
    word-break: normal;
}

.search-result-location {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 0px;
}

.search-result-title-location {
    margin-top: 8px;
    margin-bottom: 0;
}

.ticket-result-time {
    display: block;
    font-size: 14px;
    line-height: 20px;
}

.ticket-result-date {
    display: block;
    font-size: 30px;
}

.ticket-result-price {
    font-size: 20px;
    margin-top: 8px;
}

.ticket-result-name {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 0;
    white-space: normal;
}

.search-result-picture {
    height: 100%;
    border: 1px solid gray;
    border-radius: 37px;
    max-height: 75px;
}