<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Email Us</h4>
    <div id="contact-notification-root">
      <div class="notification-style" style="display: None">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong class="notification-header"></strong>
        <span class="notification-content"></span>
      </div>
    </div>
  </div>

  <form id="contact-form" class="form-horizontal" action="{% url "contact.views.submit" %}">
        {% csrf_token %}

    <div class="modal-body">
      <div class="form-group">
        <label for="contact-email" class="control-label sr-only"></label>
        <input id="contact-email" class="form-control" type="email" required name="from_email_address"
               placeholder="Email Address"
               data-bv-notempty-message="{{ form_settings.EMAIL_NOTEMPTY_MESSAGE }}"
               data-bv-emailaddress-message="{{ form_settings.EMAIL_EMAILADDRESS_MESSAGE }}"
               data-bv-stringlength="true"
               data-bv-stringlength-max="{{ form_settings.EMAIL_MAXLENGTH }}"
               data-bv-stringlength-message="{{ form_settings.EMAIL_LENGTH_MESSAGE }}">
      </div>

      <div class="form-group">
        <label for="contact-subject-type" class="control-label sr-only"></label>
        <select id="contact-subject-type" class="form-control" name="subject_type" required
                data-bv-notempty-message="{{ form_settings.SUBJECT_TYPE_NOTEMPTY_MESSAGE }}">
          <option value="" disabled selected>Select a subject</option>
          <option value="S">Sign up for updates</option>
        {% comment %}
          {% for option in form_settings.SUBJECT_TYPES %}
            <option value="{{ option.0 }}"> {{ option.1 }} </option>
          {% endfor %}
          {% endcomment %}
        </select>
      </div>  <!-- form group -->

      <div class="form-group">
        <label for="contact-body" class="control-label sr-only"></label>
        <textarea id="contact-body" class="form-control" name="body" required
                  placeholder="Your message here"
                  data-bv-notempty-message="{{ form_settings.BODY_NOTEMPTY_MESSAGE }}"
                  {% comment %} Notice we don't use the html 5 attribute. If we did, the browser would just
                                prevent us from entering more than 5000 characters and give no explanation as to why.
                  {% endcomment %}
                  data-bv-stringlength="true"
                  data-bv-stringlength-min="{{ form_settings.BODY_MINLENGTH }}"
                  data-bv-stringlength-max="{{ form_settings.BODY_MAXLENGTH }}"
                  data-bv-stringlength-message="{{ form_settings.BODY_LENGTH_MESSAGE }}"></textarea>
      </div>  <!-- form group -->
    </div>  <!-- modal body -->

      <div class="modal-footer">
        <button id="contact-form-submit-button" class="btn btn-primary form-submit-button" type="submit">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

  </form>  <!-- contact form -->
</div>
