<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
 <body>
   <p><strong>Thank you for signing up for SpareStub updates! We <3 you, truly.</strong></p>

   <p>SpareStub is going to change the way people experience events, and we want YOU to be a part of it!
       We're going to send you just a few emails throughout the course of development. </p>

   <p>
     <strong>We'll let you know:</strong>
     <ul>
       <li>any big, exciting news</li>
       <li>when we launch our Kickstarter campaign</li>
       <li>when we have a beta ready and are looking for beta testers</li>
       <li>when we're recruiting ground teams in various cities to spread the good word</li>
       <li>And finally... When we launch!</li>
     </ul>
   </p>

   <p>
     We are currently expecting to launch in limited cities (NYC, Raleigh and Austin) in January 2015.
     National launch is expected in April.
   </p>

   <p>
     We're excited, and we hope you're excited too!
   </p>

   <p>
     If you want to talk to the founders, feel free to reach out:<br>
     Stephanie MacConnell, CEO: Stephanie@sparestub.com<br>
     Nick Drane, CTO: Nick@sparestub.com
   </p>

   <p>
     Don't forget to follow the adventure:<br>
     Facebook.com/SpareStub<br>
     Twitter.com/SpareStub
   </p>

   <p>
     Have we mentioned...we love you?
   </p>

   <p>
    Until next time!<br>
    SpareStub<br>
    www.SpareStub.com
   </p>
 </body>
</html>