/* CONVERSATION LIST SIDE BAR */

/* We want these tags to stretch the entire height of the page, which will be set in javascript when the page changes
   size */
html, body, #page-wrapper, #page-wrapper>.row {
    height: 100%;
}

#threads {
    background-color: #393939;
    height: 100%;
    color: #E0E0DB;
    font-weight: 200;
}

.thread {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    border-bottom: rgb(221, 221, 221) solid 1px;
}

.thread:hover {
    background-color: lightgray;
    cursor: pointer;
    color: #000000;
}

.no-threads {
    color: #f5f5f5;
}

.thread-name {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
}

.thread-blurb {
    font-size: 12px;
    float: left;
}

.thread-pic {
    width: 40px;
	height: 40px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

.thread-last-message-timestamp {
    font-size: 10px;
    font-style: italic;
    float: right;
}

/* END CONVERSATION LIST SIDE BAR */

/* CURRENT CONVERSATION HEADER*/

.header-pic {
    width: 75px;
	height: 75px;
	border-radius: 38px;
	-webkit-border-radius: 38px;
	-moz-border-radius: 38px;
}

#current-conversation {
    padding: 0;
    height: 100%;
}

#convo-header {
    background: url("https://s3.amazonaws.com/sparestub-staging/static_root/sparestub/backgrounds/old_moon.png");
    padding: 10px;
    height: 90px;
}

.header-pic {
    float: left;
    margin-right: 10px;
}

.header-demographic-info {
    float: left;
}

.header-name {
    font-size: 18px;
    margin: 0;
}

.header-name a {
    color: #000000 !important;
}

.header-user-rating h3{
    margin-top: 4px;
    margin-bottom: -2px;
}

#ticket-ribbon {
    -webkit-font-smoothing: antialiased;
    background-color: rgb(245, 245, 245);
    height: 20px;
    padding-left: 10px;
    border-bottom: solid rgb(221, 221, 221) 1px;
}

/* END CURRENT CONVERSATION */

/* CURRENT CONVERSATION BODY*/
#conversation-body {
    padding: 10px;
    background-color: rgb(221, 221, 221);
    height: 100%;
}

.talk-bubble-pic {
    width: 40px;
	height: 40px;
    margin: 5px;
	border-radius: 20px;
    border: 1px black solid;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

.talk-bubble {
    background: white;
    min-height: 50px; /* The height of the pic and it's padding */
    margin-top: 10px;
    /* Rounded talk bubbles */
    border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
/* END CURRENT CONVERSATION BODY*/