/* CONVERSATION LIST SIDE BAR */

/* We want these tags to stretch the entire height of the page, which will be set in javascript when the page changes
   size */
html, body, #page-wrapper, #page-wrapper>.row {
    height: 100%;
}

#threads {
    background-color: #393939;
    height: 100%;
    color: #E0E0DB;
    font-weight: 200;
    overflow-y: auto;
}

.thread {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    border-bottom: #FCFCFC solid 1px;
    position: relative;
}

.delete-conversation {
    position: absolute;
    font-size: 16px;
    top: 0px;
    right: 0px;
}

.delete-conversation:hover {
    color: red;
}

.glyphicon-remove{
    color: white;
}

.thread:hover {
    background-color: #A9A9A9;
    cursor: pointer;
    color: #000000;
}

.current-thread {
    background-color: #F2F2F2;
    color: #000000;
}

.no-threads {
    color: #f5f5f5;
    margin-top: 50px;
}

.thread-name {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
}

.thread-title {
    font-size: 12px;
    float: left;
}

.thread-pic {
    width: 40px;
	height: 40px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

.thread-last-message-timestamp {
    font-size: 10px;
    font-style: italic;
    float: right;
}

/* END CONVERSATION LIST SIDE BAR */

/* CURRENT CONVERSATION HEADER*/

.header-pic {
    width: 75px;
	height: 75px;
	border-radius: 38px;
	-webkit-border-radius: 38px;
	-moz-border-radius: 38px;
}

#current-conversation {
    padding: 0;
    height: 100%;
}

#convo-header {
    background: url("https://s3.amazonaws.com/sparestub-staging/static_root/sparestub/backgrounds/old_moon.png");
    padding: 10px;
    height: 90px;
    position: fixed;
    width: 100%;
}

.header-pic {
    float: left;
    margin-right: 10px;
}

.header-demographic-info {
    float: left;
}

.header-name {
    font-size: 18px;
    margin: 0;
}

.header-name a {
    color: #000000 !important;
}

.header-user-rating h3{
    margin-top: 4px;
    margin-bottom: -2px;
}

#ticket-ribbon {
    -webkit-font-smoothing: antialiased;
    background-color: rgb(245, 245, 245);
    height: 20px;
    padding-left: 10px;
    border-bottom: solid rgb(221, 221, 221) 1px;
    position: relative;
    top: 90px; /* Position directly below the header */
}

/* END CURRENT CONVERSATION */

/* CURRENT CONVERSATION BODY*/
.conversation {
    overflow-y: auto;
    height: 100%;
}

#conversation-body {
    padding: 0 10px;
    background-color: rgb(247, 247, 247);
    position: relative;
    top: 90px; /* Position below the header and the ticket ribbon.
                  Same as ticket ribbon because only the header is fixed. Remember, relative to normal position */
}

.talk-bubble {
    width: 100%;
    min-height: 50px;
    margin-top: 10px;

    padding: 5px;
    min-height: 50px; /* The height of the pic and it's padding */
    /* Rounded talk bubbles */
    border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.talk-bubble-pic {
	height: 40px;
	border-radius: 20px;
    border: 1px black solid;
    margin-right: 10px; /* Don't the let body of the message encroach on the image */
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

.talk-bubble-contents {
    display: inline-block;
    padding: 0px 10px 5px 10px;
    word-wrap: break-word;
    width: 80%;
}

.talk-bubble-timestamp {
    width: 10%;
}

@media (max-width: 1350px) {
    .talk-bubble-timestamp {
        width: 20%;
    }
    .talk-bubble-contents {
        width: 70%;
    }
}

@media (max-width: 500px) {
    .talk-bubble-timestamp {
        width: 25%;
    }
    .talk-bubble-contents {
        width: 75%;
    }
}
.this-user {
    background-color: #A3E0FF;
}

.that-user {
    background-color: #ffa2c3;
}
/* END CURRENT CONVERSATION BODY*/

/* NEW MESSAGE BOX */
#new-message-box {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#send-message {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    font-size: 12px;
}

#send-message-errors > ul > li{
    font-size: 16px;
}

#send-message-errors {
    margin-bottom: 0;
}

#new-message-textarea-wrapper {
    position: relative;
    width: 97%;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    border: solid lightgrey 1px;
    border-radius: 10px;
}

#new-message-textarea {
    width: 80%;
    display: block;
    border: none;
}
#new-message-textarea:focus {
    border: none;
    outline: none;
}
/* END NEW MESSAGE BOX */