{% extends "base.html" %}
{% load compress %}

{% block css %}
  {% compress css %}
    {{ block.super }}
  {% endcompress %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Recover your account</h2>
      <hr>
      <p>
        Enter your email address below. We'll send you instructions for how to reset your password.
      </p>

      <form novalidate="" action="{% url "create_forgot_password" %}" method="POST" role="form">
        {% csrf_token %}
        <div class="form-group">
          {% if bad_email %}
            <ul><li>We don't have that email on file. Want to try another one?</li></ul>
          {% endif %}
          <label for="email">Email:</label>
          <input id="email" class="form-control" type="email" name="email" required>
        </div>
        <button type="submit" class="pull-right btn btn-primary">Reset Password</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
  {% compress js %}
    {{ block.super }}
  {% endcompress %}
{% endblock %}