<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  Hello again from SpareStub! Not everyone forgets their password {{ times }} {% if times == 1 %}time{% else %}times{% endif %},
  but we understand some people have things to think about... like  <a href="http://www.webmd.com/men/features/absentminded-alzheimers">this particularly applicable article</a> from WebMdD.
  <br><br>
  Click this link <a href="{{ DOMAIN }}{% url "reset_password" reset_link=new_link %}">{{ DOMAIN }}{% url "reset_password" reset_link=new_link %}</a> in the next 24 hours to reset your password.<br>
  We'll put the show on hold until you're back!
</body>
</html>