{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Reset your password</h2>
      <hr>
      <form id="change-password-form" class="form-horizontal" method="post"
        action="{% url "change_password" username=user.user_profile.username %}">
        {% csrf_token %}
          <div class="row form-group">
          <label for="change-password-new" class="col-xs-12 col-sm-3 control-label">New Password: </label>
          <div class="col-xs-12 col-sm-9 ">

            <input type="password" class="form-control" id="change-password-new" name="new_password"
                   placeholder="New Password" required

                   data-bv-notempty-message="{{ form_settings.PASSWORD_NOTEMPTY_MESSAGE }}"

                   data-bv-stringlength=true
                   data-bv-stringlength-min="{{ form_settings.PASSWORD_MIN_LENGTH }}"
                   data-bv-stringlength-max="{{ form_settings.PASSWORD_MAX_LENGTH }}"
                   data-bv-stringlength-message="{{ form_settings.PASSWORD_LENGTH_MESSAGE }}">
          </div>
        </div>  <!-- form-group -->
        <div class="row form-group last-form-group">
          <label for="change-password-repeat" class="col-xs-12 col-sm-3 control-label">Repeat: </label>
          <div class="col-xs-12 col-sm-9 ">
            <input type="password" class="col-xs-12 col-sm-9 form-control" id="change-password-repeat"
                   name="repeat_password" placeholder="Repeat" required

                   data-bv-notempty-message="{{ form_settings.PASSWORD_NOTEMPTY_MESSAGE }}"

                   data-bv-stringlength=true
                   data-bv-stringlength-min="{{ form_settings.PASSWORD_MIN_LENGTH }}"
                   data-bv-stringlength-max="{{ form_settings.PASSWORD_MAX_LENGTH }}"
                   data-bv-stringlength-message="{{ form_settings.PASSWORD_LENGTH_MESSAGE }}">
          </div>
        </div>  <!-- form group -->
      </div>
      <div id="change-password-footer" class="modal-footer">
          <!-- Notice that the button type is submit. This is required by bootstrap validator. -->
          <button id="change-password-form-submit-button" class='btn btn-primary form-submit-button'
                  type="submit">Change Password</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
{% endblock %}