<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Sign Up!</h4>
    <div id="signup-notification-root">
      <div class="notification-style" style="display: None">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong class="notification-header"></strong>
        <span class="notification-content"></span>
      </div>
    </div>
  </div>

  <form id="signup-form" class="form-horizontal" action="{% url "registration.views.signup" %}"> {% csrf_token %}
    <div class="modal-body">
      <div class="form-group">
        <label for="signup-first-name" class="control-label sr-only"></label>
        <input id="signup-first-name" class="form-control"
           type="text" name="first_name" placeholder="First Name" required

           data-bv-notempty-message="{{ form_settings.FIRST_NAME_NOTEMPTY_MESSAGE }}"

           pattern="{{ form_settings.FIRST_NAME_REGEXP }}"
           data-bv-regexp-message="{{ form_settings.FIRST_NAME_REGEXP_MESSAGE }}"

           data-bv-stringlength=true
           data-bv-stringlength-max="{{ form_settings.FIRST_NAME_MAX_LENGTH }}"
           data-bv-stringlength-message="{{ form_settings.FIRST_NAME_LENGTH_MESSAGE }}">
      </div>

      <div class="form-group">
        <label for="signup-last-name"  class="control-label sr-only"></label>
        <input id="signup-last-name" type="text" class="form-control"  name="last_name" placeholder="Last Name" required

          data-bv-notempty-message="{{ form_settings.LAST_NAME_NOTEMPTY_MESSAGE }}"

          pattern="{{ form_settings.LAST_NAME_REGEXP }}"
          data-bv-regexp-message="{{ form_settings.LAST_NAME_REGEXP_MESSAGE }}"

          data-bv-stringlength=true
          data-bv-stringlength-max="{{ form_settings.LAST_NAME_MAX_LENGTH }}"
          data-bv-stringlength-message="{{ form_settings.LAST_NAME_LENGTH_MESSAGE }}">
      </div>  <!-- form group -->

      <div class="form-group">
        <label for="signup-email" class="control-label sr-only"></label>
        <input type="email" class="form-control" id="signup-email" name="email" placeholder="Email Address" required

          data-bv-notempty-message="{{ form_settings.EMAIL_NOTEMPTY_MESSAGE }}"
          data-bv-emailaddress-message="{{ form_settings.EMAIL_EMAILADDRESS_MESSAGE }}"

          data-bv-stringlength=true
          data-bv-stringlength-max="{{ form_settings.EMAIL_MAXLENGTH }}"
          data-bv-stringlength-message="{{ form_settings.EMAIL_LENGTH_MESSAGE }}"

          data-bv-remote=true
          data-bv-remote-url="{{ form_settings.EMAIL_REMOTE_URL }}"
          data-bv-remote-message="{{ form_settings.EMAIL_REMOTE_MESSAGE }}">
      </div>

      <div class="form-group">
        <label for="signup-password" class="control-label sr-only"></label>
        <input type="password" class="form-control" id="signup-password" name="password" placeholder="Password" required

          data-bv-notempty-message="{{ form_settings.PASSWORD_NOTEMPTY_MESSAGE }}"

          data-bv-stringlength=true
          data-bv-stringlength-min="{{ form_settings.PASSWORD_MIN_LENGTH }}"
          data-bv-stringlength-max="{{ form_settings.PASSWORD_MAX_LENGTH }}"
          data-bv-stringlength-message="{{ form_settings.PASSWORD_LENGTH_MESSAGE }}">
      </div>  <!-- form group -->

      <div class="form-group last-form-group">
        <label for="signup-zipcode" class="control-label sr-only"></label>
        <input type="text" class="form-control" id="signup-zipcode" name="zip_code" placeholder="Zip Code" required

          data-bv-notempty-message="{{ form_settings.ZIP_CODE_NOTEMPTY_MESSAGE }}"

          data-bv-stringlength=true
          data-bv-stringlength-min="{{ form_settings.ZIP_CODE_MIN_LENGTH }}"
          data-bv-stringlength-max="{{ form_settings.ZIP_CODE_MAX_LENGTH }}"
          data-bv-stringlength-message="{{ form_settings.ZIP_CODE_LENGTH_MESSAGE }}"

          pattern="{{ form_settings.ZIP_CODE_REGEXP }}"
          data-bv-regexp-message="{{ form_settings.ZIP_CODE_REGEXP_MESSAGE}}"

          data-bv-remote=true
          data-bv-remote-url="{{ form_settings.ZIP_CODE_REMOTE_URL }}"
          data-bv-remote-message="{{ form_settings.ZIP_CODE_REMOTE_MESSAGE }}"

          {% comment %} No reason to hit the server if the not remote validators fail {% endcomment %}
          data-bv-verbose=false>
      </div>  <!-- form group -->
    </div>  <!-- modal body -->

    <div class="modal-footer">
      <div id="disclosure-message">
        By signing up, you agree to the <a href="{% url "tos" %}" target="_blank"> Terms of Service</a> and <a href="{% url "privacy policy" %}" target="_blank">Privacy Policy</a>, including <a href="{% url "cookie use" %}" target="_blank">Cookie Use</a>.
      </div>
      <!-- Notice that the button type is submit. This is required by bootstrap validator. -->
      <button id="signup-form-submit-button" class='btn btn-primary form-submit-button' type="submit">Sign up</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </form>  <!-- signup form -->
</div>