{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block css %}
  {% compress css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "sparestub/css/home.css" %}">
  {% endcompress %}
{% endblock %}

{% block content %}
  <div id="introduction" style="background-image: url({% static "sparestub/backgrounds/concert-optimized.jpg" %});">
    <div class="container">
      <div class="row text-center">
        <h3 id="top-intro1" class="col-xs-12 title top-intro">Buyers and sellers attend events together</h3>
        <h3 id="top-intro2" class="col-xs-12 title top-intro">It's ticket resale... but better</h3>
        <div id="intro-button-div" class="col-xs-12">
          <div id="left-intro">
              <button id="search-now" class="btn btn-primary intro-btn" type="button">Search Now</button>
          </div>
          <div id="right-intro">
          {% if user.is_authenticated %}
            <button class="btn btn-primary intro-btn submit-ticket-form-button" type="button"
                    data-toggle="modal">Submit Your Stub</button>
          {% else %}
            <button class="btn btn-primary intro-btn signup-form-button"
                    type="button" data-toggle="modal" data-target="#modal-signup-root">Join In!</button>

          {% endif %}
          </div>
        </div>
        <div id="buffer" class="col-xs-12"></div>
        <div id="learn-more" class="col-xs-12 center-block">
          <div>
            <h3>Learn More</h3><br>
            <span class="glyphicon glyphicon-chevron-down"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="introducing-sparestub" style="background-image: url({% static "sparestub/backgrounds/homepage_colored_lights.jpg" %});">
    <div class="container">
      <h3>Introducing SpareStub</h3>
      <h4>We're building a community of fans. Join our growing family to sell your spare stub or buy one.</h4>
      <h2>Fairly Priced Tickets.</h2>
      <h2 id="new-friends">New Friends.</h2>
      <h4>What kinds of stubs? Concerts, festivals, sports, Broadway, movie premiers, lift tickets... anything!</h4>
      <h4>Never find yourself with an extra ticket again.</h4>
    </div>
  </div>

  <div id="how-it-works" style="background-image: url({% static "sparestub/backgrounds/squared_metal.png" %});">
    <div class="container-fluid">
      <div id="steps" class="row">
        <h1 class="col-xs-12 title">How It Works</h1>
        <div id="step-1" class="step text-center col-xs-12 col-sm-4">
          <div class="step-explanation center-block">
             <h4><i>It's where sellers...</i></h4>
          </div>
          <img class="step-image" src="{% static "sparestub/logos/post-optimized.png" %}">
          <div class="step-explanation center-block">
            <h4>Sell your stub. Find a gig buddy</h4>
            <p>Have an extra ticket? Post it for free and watch the requests come in! Only pay the $5 charge if you approve a buyer. Check out our <a href="{% url "sellers guide" %}">Seller's Guide</a> for more info!</p>
          </div>
        </div>
        <div id="step-2" class="step text-center col-xs-12 col-sm-4">
          <div class="step-explanation center-block">
             <h4><i>....and buyers...</i></h4>
          </div>
          <img class="step-image" src="{% static "sparestub/logos/buy-optimized.png" %}">
          <div class="step-explanation center-block">
            <h4>Find a ticket and a new friend</h4>
            <p>Search for spare stubs in your city. Check out the seller's bio and user reviews. Get to know each other. Match made in heaven? Request to Buy the ticket. Check out the <a href="{% url "buyers guide" %}">Buyer's Guide</a> for more info!</p>
          </div>
        </div>
        <div id="step-3" class="step text-center col-xs-12 col-sm-4">
          <div class="step-explanation center-block">
             <h4><i>...come together!</i></h4>
          </div>
          <img class="step-image" src="{% static "sparestub/logos/go-optimized.png" %}">
          <div class="step-explanation center-block">
            <h4>And Then... Happily Ever After</h4>
            <p>Buyers and sellers handle the ticket and payment exchange however works best for them, and then have a great night together! After the event, they can leave each other a review.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="press" style="background-image: url({% static "sparestub/backgrounds/cityscape-optimized.jpg" %});">
    <h2 id="press-title" class="text-center">SpareStub in the Press</h2>
      <div class="column-press">
        <img class="press-image" src="{% static "sparestub/logos/dzone.png" %}">
        <h4><a href="http://css.dzone.com/articles/sparestub-thank-open-source">The Next Phase of Business Evolution: How Open Source is Launching Startups like SpareStub</a></h4>
      </div>
      <div class="column-press">
        <img class="press-image" src="{% static "sparestub/logos/superheroyou.png" %}">
        <h4><a href="http://superheroyou.com/10-super-startups-2015/">10 Super Startups to Check Out in 2015</a></h4>
      </div>
      <div class="column-press">
        <img class="press-image" src="{% static "sparestub/logos/lioness.png" %}">
        <h4><a href="http://lionessmagazine.com/ask-entrepreneur-stephanie-macconnell-sparestub/">Ask an Entrepreneur</a></h4>
      </div>
      <div class="column-press">
        <img class="press-image" src="{% static "sparestub/logos/newborn.png" %}">
        <h4><a href="http://startuplist.org/sparestub/">Startup Feature: SpareStub</a></h4>
      </div>
    </div>
  <div class="footer">
    <div class="footer-container">
        <ul class="footer-column">
            <li class="footer-column-title">Follow the Adventure</li>
              <li><a href="https://www.twitter.com/sparestub/" target="_blank">Twitter</a></li>
              <li><a href="http://www.instagram.com/sparestub/" target="_blank">Instagram</a></li>
              <li><a href="http://www.facebook.com/sparestub/" target="_blank">Facebook</a></li>
              <li><a href="https://www.linkedin.com/company/sparestub" target="_blank">LinkedIn</a></li>
        </ul>
        <ul class="footer-column">
            <li class="footer-column-title">Talking Shop</li>
              <li><a href="{% url "buyers guide" %}">Buyer's Guide</a></li>
              <li><a href="{% url "sellers guide" %}">Seller's Guide</a></li>
              <li><a href="{% url "dispute resolution" %}">Dispute Resolution</a></li>
              <li><a href="{% url "tos" %}">Terms of Service</a></li>
              <li><a href="{% url "privacy policy" %}">Privacy Policy</a></li>
              <li><a href="{% url "safety tips" %}">Safety Tips</a></li>
              <li><a href="http://www.ag.ny.gov/sites/default/files/pdfs/bureaus/consumer_fraud/dating_service.pdf">Online Connection Bill of Rights</a></li>
          {% comment %} TODO <a href="{% url "press_kit" %}">Press Kit</a> {% endcomment %}
        </ul>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 center-block text-center">
            <p><br><br>SpareStub LLC &copy 2015</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {% compress js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "sparestub/js/home.js" %}"></script>
  {% endcompress %}
{% endblock %}