<ul class="nav navbar-nav navbar-right" id="navigation-bar-right-div" >
  {% if request.user.is_authenticated %}
    <li>
      <a href="{% url "user_profile.views.view_or_edit_profile" current_username=user.user_profile.username %}" class="btn btn-primary" type="button">{{ user | title }}</a>
    </li>
    <li>
      <a href="{% url "registration.views.logout" %}" class="btn btn-default" id="logout-button" type="button">Logout</a>
    </li>
  {% else %} <!-- If the user is not authenticated, allow them the opportunity to log in -->
    <li><button class="btn navbar-btn btn-primary signup-form-button" type="button" data-toggle="modal" data-target="#modal-signup-root">Sign Up</button></li>
    {% comment %} interesting post - http://www.gkogan.co/blog/stop-asking-me-to-sign-up/ {% endcomment %}
    <li><button class="btn navbar-btn btn-default login-form-button" id="navbar-login-button" type="button" data-toggle="modal" data-target="#modal-login-root">Login</button></li>
  {% endif %}
</ul>


