{% if request.user.is_authenticated %}
  <!-- Renders both an anchor tag with the name of the user that links to their user page and a logout button -->
  <a href="{% url "user_profile.views.view_or_edit_profile" current_username=user.user_profile.username %}" class="btn btn-primary" role="button"> {{ user.user_profile.username | title }} </a>
  <a id="logout-button" href="{% url "registration.views.logout" %}" class="btn btn-default">Logout </a>
{% else %} <!-- If the user is not authenticated, allow them the opportunity to log in -->
  <form class="form-inline" role="form" action="{% url "registration.views.login" %}" method="post"> {% csrf_token %}
    <a class="btn btn-default"  role="button" data-toggle="modal" data-target="#modal-signup-form" href="{% url "registration.views.signup" %}">I'm in!</a>
    {% comment %} interesting post - http://www.gkogan.co/blog/stop-asking-me-to-sign-up/ {% endcomment %}
    <a class="btn btn-primary"  role="button" data-toggle="modal" data-target="#modal-login-form" href="{% url "registration.views.login" %}">Login</a>
  </form><!--This renders the username and password input tags as well as the login submit input and Sign Up anchor tags-->
{% endif %}