{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block css %}
  {% compress css %}
    {{ block.super }}
    <style>
      .guide-title {
          font-size: 40px;
      }
      li {
          padding-bottom: 10px;
      }
    </style>
  {% endcompress %}
{% endblock %}

{% block content %}
  <div class="guide-container">
    <div class="guide-title">Safety Tips</div>
    <h4>Get to know the other person before arranging to meet offline</h4>
    <ul>
      <li>First meetings are always exciting! We suggest you use the messaging system on SpareStub.com first to get to know someone before disclosing personal information and agreeing to meet offline.</li>
    </ul>
    <h4>Always meet in public</h4>
      <ul>
        <li>When meeting for the first time, meet in a public place. Never meet in a private or remote location or at another person’s’ home or apartment.</li>
      </ul>
    <h4>Stay in a public place</h4>
      <ul>
        <li>For the first meeting, it is best to remain in a public place. If your new friend pressures you to go back to your home or theirs, it is probably best to end the meeting and leave right away.</li>
      </ul>
    <h4>Tell someone</h4>
      <ul>
        <li>Always tell a trusted friend or family member of your plans, where you are going and what time you are expected to return. If you have a mobile phone, take it with you.</li>
      </ul>
    <h4>Stay sober</h4>
      <ul>
        <li>Keep your mind clear, avoid impairing your judgement or making yourself more vulnerable.</li>
      </ul>
    <h4>Drive yourself to and from the first meeting</h4>
      <ul>
        <li>Be in control of your own ride. If things don’t work out, you can always leave or take a taxi.</li>
      </ul>
    <h4>Long distance</h4>
      <ul>
        <li>There are special safety concerns to consider when meeting long distance.
          <ul>
            <li>- Stay at a hotel. Stay in your own room, do not stay in the other person’s home</li>
            <li>- Secure your own ride. Do not get into a car with someone you have never met before.</li>
            <li>- Keep your hotel location confidential until you are comfortable disclosing this information.</li>
            <li>- Inform a trusted family member or friend of your plans. Keep them posted.</li>
          </ul>
        </li>
      </ul>
    <br>
      <h3>Be fair! Be safe! Have fun!</h3>
  </div>
{% endblock %}

{% block js %}
  {% compress js %}
    {{ block.super }}
  {% endcompress %}
{% endblock %}